@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --primary-color: #000000;
  --secondary-color: #fff;
  --accent-color: #;
  --header-color: #102e50;
  --text-color: #000000;
  --bg-color: #f0f1c5;
  --logo-bg-color: #f0f1c5;
  --card-bg-color: #c0c250;
  --shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  --padding: 10px;
}

.dark-mode {
  --primary-color: #fff;
  --secondary-color: #000000;
  --accent-color: #;
  --header-color: #1dcd9f;
  --text-color: #fff;
  --bg-color: #000000;
  --logo-bg-color: #f0f1c5;
  --card-bg-color: #74512d;
  --shadow: 0 0 10px rgba(212, 195, 195, 0.3);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  font-family: "Montserrat", sans-serif;
  color: var(--text-color);
  background-color: var(--bg-color);
}

h1,
h2,
h3,
h4,
h5 {
  color: var(--header-color);
}

p {
  line-height: 1.3;
}

button {
  outline: none;
  border: none;
}

@media screen and (min-width: 650px) {
  a,
  p {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 3rem;
  }
}

@media screen and (min-width: 850px) {
  a,
  p {
    font-size: 1rem;
  }

  h1 {
    font-size: 2.5rem;
  }
}

.nav {
  box-shadow: var(--shadow);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding);
  z-index: 999;
  background-color: var(--bg-color);
}

.menu-toggle {
  font-size: 2rem;
  display: none;
  cursor: pointer;
}

.nav-links {
  display: flex;
  gap: var(--padding);
}

.nav-link {
  color: var(--text-color);
  font-weight: 600;
  transition: all 0.3s;
}

.color-mode {
  font-size: 2rem;
  border: none;
  cursor: pointer;
  padding: var(--padding);
  background-color: transparent;
}

.color-mode i {
  color: var(--text-color);
}

.nav-links.toggle-nav {
  display: flex;
}

.logo {
  background-color: var(--logo-bg-color);
  padding: var(--padding);
  cursor: pointer;
}

@media screen and (max-width: 650px) {
  .nav-links {
    display: none;
    flex-direction: column;
    background-color: var(--bg-color);
    position: absolute;
    right: 0;
    top: 12vh;
    width: 300px;
    align-items: flex-end;
    padding: 10px;
    box-shadow: var(--shadow);
    transition: all 0.3s;
  }

  .menu-toggle {
    display: block;
  }

  .color-mode {
    position: absolute;
    right: 50px;
  }
}

.container {
  max-width: 90%;
  margin: 0 auto;
  box-shadow: var(--shadow);
  margin-top: 13px;
  min-height: calc(100vh - 10vh);
}

.hero {
  background-image: url(/static/images/hero-mobile.jpeg);
  background-position: 0;
  background-size: cover;
  padding: 10px 10px 30px 10px;
  min-height: calc(100vh - 30vh);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  position: relative;
  margin-bottom: 2rem;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.hero-details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  z-index: 1;
}

.hero-details h1,
.hero-details p {
  color: #fff;
}

.hero-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hero-btn,
.hero-contacts {
  display: flex;
  gap: 10px;
}

.btn {
  width: fit-content;
  padding: 20px 5px;
  font-size: 1.5rem;
  border-radius: 10px;
  font-weight: 600;
  text-align: center;
}

.btn-primary {
  background-color: var(--primary-color);
  color: var(--secondary-color);
}

.btn-secondary {
  background-color: var(--secondary-color);
  color: var(--primary-color);
}

.social-btn {
  cursor: pointer;
}

@media screen and (min-width: 650px) {
  .hero {
    background-image: url(/static/images/hero-desktop.jpg);
    margin-top: calc(100vh - 90vh);
  }

  .social-btn i {
    font-size: 3rem;
  }

  .btn {
    font-size: 2rem;
    padding: 20px 10px;
  }

  .hero-btn,
  .hero-contacts {
    gap: 20px;
  }
}

@media screen and (min-width: 850px) {
  .nav-links {
    gap: 30px;
  }

  .social-btn i {
    font-size: 2rem;
  }

  .btn {
    font-size: 1.3rem;
    padding: 10px;
  }

  .hero-btn,
  .hero-contacts {
    gap: 20px;
  }
}

.categories {
  width: 100%;
  padding: var(--padding);
  /* background-color: #fff; */
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 10px;
  margin-bottom: 1rem;
}

.category {
  font-weight: 600;
  color: var(--text-color);
  background-color: var(--secondary-color);
  padding: var(--padding);
  border-radius: 10px;
}

.recents {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: var(--padding);
  gap: 15px;
}

.kipup-card {
  box-shadow: var(--shadow);
  padding: var(--padding);
  border-radius: 10px;
  display: flex;
  gap: 10px;
}

.card-img {
  width: 70px;
  height: 70px;
  background-color: var(--primary-color);
  border-radius: 50%;
}

.card-info {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.card-info h2 {
  font-size: 1.2rem;
}

.profile-btn {
  color: var(--primary-color);
  font-weight: 600;
}

.btn-card {
  background-color: var(--primary-color);
  color: var(--secondary-color);
  padding: 10px 20px;
  width: 100px;
  text-align: center;
  border-radius: 10px;

}

.card {
  background-color: var(--card-bg-color);
  padding: var(--padding);
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.btn-buy {
  border: none;
  background-color: var(--bg-color);
  color: var(--primary-color);
  cursor: pointer;
}
