{% extends "base.html" %} {% load static %} {% block content %}
<div class="hero">
	<div class="overlay"></div>
  <div class="hero-details">
    <h1>You Shouldn't Miss<br />Any Gist with the World</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Ex, quidem.</p>
    <div class="hero-links">
      <div class="hero-btn">
        <a href="#" class="btn btn-primary">Sign Up</a>
        <a href="#" class="btn btn-secondary">Sign In</a>
      </div>
	  <div class="hero-contacts">
		<button class="social-btn btn"><i class="fa-brands fa-square-whatsapp"></i></button>
		<button class="social-btn btn"><i class="fa-brands fa-telegram"></i></button>
	  </div>
    </div>
  </div>
</div>

<!-- kipup categories -->
 <div class="categories">
	<a href="#" class="category">Discover</a>
	<a href="#" class="category">Entertainment</a>
	<a href="#" class="category">Sports</a>
	<a href="#" class="category">Movies</a>
	<a href="#" class="category">Politics</a>
	<a href="#" class="category">Food</a>
	<a href="#" class="category">Education</a>
	<a href="#" class="category">Technology</a>
	<a href="#" class="category">Music</a>
	<a href="#" class="category">Health</a>
 </div>
 <!-- Recent Kipups -->
  <div class="recents">
	<div class="kipup-card">
		<div class="card-img"></div>
		<div class="card-info">
			<a class="profile-btn" href="#">David Michael</a>
			<h2>My Experience as a Dev</h2>
			<a href="#" class="btn-card">View</a>
		</div>
	</div>
	<div class="kipup-card">
		<div class="card-img"></div>
		<div class="card-info">
			<a class="profile-btn" href="#">David Michael</a>
			<h2>My Experience as a Dev</h2>
			<a href="#" class="btn-card">View</a>
		</div>
	</div>
	<div class="kipup-card">
		<div class="card-img"></div>
		<div class="card-info">
			<a class="profile-btn" href="#">David Michael</a>
			<h2>My Experience as a Dev</h2>
			<a href="#" class="btn-card">View</a>
		</div>
	</div>
	<a href="#" class="btn btn-secondary">See More...</a>
  </div>
<div class="title">
  <h1>Hello World</h1>
  <p>Welcome to the land of the living my friend.</p>
  <a href="#" class="btn">Click Me</a>
</div>
<div class="content">
  <div class="card">
    <div class="img"></div>
    <h2>Target Person</h2>
    <p>This is the description for the product you're seeing right now.</p>
    <p>NGN20,000</p>
    <button class="btn btn-buy" id="productBuy">Buy Me</button>
  </div>
</div>
{% endblock content %}
