{% extends "base.html" %}
{% load static %}
{% block title %}
  Kipup - Register
{% endblock title %}

{% block content %}
<div class="content-box">
<div class="profile-header">
	  <div class="heading">
    <i class="fa-solid fa-circle-user"></i>
  </div>
  <div class="profile-img-box">
	<div class="profile-img"></div>
	<h2>{{ user.first_name }} {{user.last_name}}</h2>
	<p>{{ user.email }}</p>
  </div>
</div>

<div class="profile-menus">
	<div class="menu-group">
		<div class="menu-group-icon-text">
			<i class="fa-solid fa-blog"></i>
			<p>Kipups</p>
		</div>
		<i class="fa-solid fa-arrow-right"></i>
	</div>
	<div class="menu-group">
		<div class="menu-group-icon-text">
			<i class="fa-solid fa-blog"></i>
			<p>Favourites</p>
		</div>
		<i class="fa-solid fa-arrow-right"></i>
	</div>
	<div class="menu-group">
		<div class="menu-group-icon-text">
			<i class="fa-solid fa-blog"></i>
			<p>Settings</p>
		</div>
		<i class="fa-solid fa-arrow-right"></i>
	</div>
	<div class="menu-group">
		<div class="menu-group-icon-text">
			<i class="fa-solid fa-blog"></i>
			<p>Support</p>
		</div>
		<i class="fa-solid fa-arrow-right"></i>
	</div>
</div>
 
</div>
{% endblock content %}